:root {
    --padding_blocs: 141px;
}

.nodisplay {
    display: none;
}

.img {
    flex-shrink: 0;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    font-size: 75px;
    font-family: BebasNeue, sans-serif;
    text-transform: uppercase;
    margin-bottom: 23px;
}

h3 {
    font-family: Athelas, sans-serif;
    font-size: 34px;
    margin-bottom: 40px;
}

h4 {
    font-family: Athelas, sans-serif;
}

p,
span,
a {
    font-family: Athelas, sans-serif;

}

.content {
    padding: 0 var(--padding_blocs);
    margin: auto;
}
.header2 {
    .nav_top {
        background-image: url("../img/header.jpg");
        background-size: cover;
        background-position: top;
        height: 261px;
        position: relative;

        .bg {
            background: black;
            opacity: 0.4;
        }
    }
    .h1{
        margin-top: 48px;
        margin-bottom: 12px;
        font-size: 70px;
        font-family: BebasNeue, sans-serif;
    }
    .date{
        margin-bottom: 72px;
        font-size: 34px;
        font-family: Athelas, sans-serif;
        font-weight: bold;
    }
}
.footer {
    background: #001D3B;
    color: white;
    padding: 73px var(--padding_blocs) 0;

    .content_item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;

        .p {
            font-size: 24px;
        }

        .mail {
            font-size: 24px;
            display: block;
            margin-top: 14px;
            text-decoration: none;
        }

        .local {
            margin-top: 14px;
            display: block;
            text-decoration: none;
            margin-bottom: 30px;
        }
    }

    .corp {
        border-top: 1px solid rgba(173, 216, 230, 0.17);
        padding: 27px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        > :nth-child(1) {
            grid-column: 2;
            text-align: center;
        }

        > :nth-child(2) {
            text-align: right;

            grid-column: 3;
        }
    }
}

.pdf-container__wrapper {
    padding: 0 80px;
}

.pdf-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 120px;


    .pdf-canvas {
        width: 100%;
    }

    .btn {
        position: absolute;
        top: 50%;
        background: none;
        outline: none;
        border: none;
        height: 30px;
        &.btn_left {
            transform: translate(calc(-100% - 30px), -50%) rotate(180deg);
            left: 0;
        }

        &.btn_right {
            right: 0;
            transform: translate(calc(+100% + 30px), -50%);
        }
    }
}

@media screen and (max-width: 1160px) {
    :root {
        --padding_blocs: 90px;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --padding_blocs: 70px;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --padding_blocs: 40px;
    }
    .pdf-container .btn{
        height: 20px;
    }
}
@media screen and (max-width: 857px) {
    .header2 .h1{
        font-size: 40px;
    }
}


@media screen and (max-width: 650px) {
    :root {
        --padding_blocs: 18px;
    }
    .pdf-container__wrapper {
        padding: 0 40px;
    }
    .pdf-container {
        position: relative;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 120px;


        .pdf-canvas {
            width: 100%;
        }

        .btn {

            &.btn_left {
                transform: translate(calc(-100% - 10px), -50%) rotate(180deg);
            }

            &.btn_right {
                transform: translate(calc(+100% + 10px), -50%);
            }
        }
    }
}


@media screen and (max-width: 500px) {

    .header2 .h1{
        font-size: 30px;
    }
}