
.content .content_block{
    margin: 0 96px 89px;
    padding: 85px 53px;
    background: #001D3B;
    color: white;
}
.content .content_block p{
    font-size: 24px;
}
.content .content_block h2{
    font-size: 34px;
}

.pdf{

}



@media screen and (max-width: 1000px) {
    .content.content_wrapper{
        padding: 0;
    }
    .content .content_block{
        padding: 35px 40px;
        margin: 0 0 89px;
    }
    .content .content_block p{
        font-size: 15px;
    }
    .content .content_block h2{
        font-size: 20px;
    }
}
