.header {

    .nav_top {
        background-image: url("../img/header.jpg");
        background-size: cover;
        background-position: top;
        height: 261px;
        position: relative;

        .bg {
            background: black;
            opacity: 0.4;
        }
    }
    .h1{
        margin-top: 48px;
        margin-bottom: 12px;
        font-size: 70px;
        font-family: BebasNeue, sans-serif;
    }
    .date{
        margin-bottom: 72px;
        font-size: 34px;
        font-family: Athelas, sans-serif;
        font-weight: bold;
    }
}
.content .content_block{
    margin: 0 96px 89px;
    padding: 85px 53px;
    background: #001D3B;
    color: white;
}
.content .content_block p{
    font-size: 24px;
}
.content .content_block h2{
    font-size: 34px;
}

.pdf{

}



@media screen and (max-width: 1000px) {
    .content.content_wrapper{
        padding: 0;
    }
    .content .content_block{
        padding: 35px 40px;
        margin: 0 0 89px;
    }
    .content .content_block p{
        font-size: 15px;
    }
    .content .content_block h2{
        font-size: 20px;
    }
}
@media screen and (max-width: 857px) {
    .header .h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .header .h1{
        font-size: 30px;
    }
}