* {
    padding: 0;
    margin: 0;
    font: inherit;
    font-family: "Source Serif 4", serif;
    box-sizing: border-box;
    color: inherit;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}